:root {
    --color-dark: #494e52;
    --color-doc-found: #5193e8;
    --color-doc-not-found: #ff9d9c;
}

/* HTML Elements */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    font-family: 'Noto Sans KR', sans-serif;
}

a.text-deco__none, a.button-deco__none {
    text-decoration: none;
}
a.text-deco__none {
    color: black;
}
a.button-deco__none-dark {
    color: white;
}

h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h2.hero-text {
    font-size: 45px;
}
a.link_finder {
    color: #5193e8;
}
a.link_finder#not_thing {
    color: #ff9d9c;
}

textarea {
    padding: 10px;
    margin: 5px;
    transition: .5s ease;
    outline: none;
    border-radius: 4px;
}
textarea:hover, textarea:focus{
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 1) inset;
    transition: .5s ease;
}
/* ============= */



/* MDL Elements */

.mdl-layout {
    position: relative;
}
.mdl-layout__header-row .mdl-layout-title {
    color: white;
}
.mdl-navigation__title {
    color: #424242;
}
.mdl-button__margin {
    margin: 0 15px 0 0;
}
.mdl-layout__header--solid-black {
    background-color: var(--color-dark);
    background-color: #494e52;
}

.material-icons.material-icons-align {
    vertical-align: middle;
    margin-right: 7px;
}

.mdl-data-table td {
    border-right: none;
    border-left: none;
}
/* ============= */



/* HTML Class Elements */

.hr {
    margin: 1em auto;
    width: 100px;
    border-top: 1px solid rgb(80, 80, 80);
}
.white {
    color: white;
}
.content-main {
    margin-top: 30px;
}
.page-container {
    position: relative;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: #494e52;
}
.tool_cel {
    display: inline;
}
.mdl-navigation__link {
    cursor: pointer;
}
.post-submenu {
    margin-bottom: 15px;
}
.padding-0-24-px {
    padding: 0 24px;
}
.sd-nav__scroll {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}
.sd-nav__scroll button {
    margin: 0 10px 0 0;
}
.colorbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    transition: ease .1s;
}
#toron td {
    text-align: left;
}
/* ============= */