<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Head Jinja Start -->
    {% if imp[3][0] != 0 %}
        <title>{{imp[0]}}{{imp[3][0]}} - {{imp[1][0]}}</title>
    {% else %}
        <title>{{imp[0]}} - {{imp[1][0]}}</title>
    {% endif %}
    {{imp[3][3]|safe}}
    <link rel="shortcut icon" href="/views/main_css/file/favicon.ico?ver=1">
    {{imp[1][5]|safe}}
    {{imp[2][3]|safe}}
    {% if imp[3][0] != 0 %}
        <meta name="title" content="{{imp[0]}}{{imp[3][0]}} - {{imp[1][0]}}">
    {% else %}
        <meta name="title" content="{{imp[0]}} - {{imp[1][0]}}">
    {% endif %}
    <meta name="keywords" content="{{imp[0]}}">
    <meta name="description" content="{{data|cut_100}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Head Jinja End -->
    <!-- Head CDN Start -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/views/simpledirty/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="/views/simpledirty/js/common.js"></script>
    <!-- Head CDN End -->
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--solid-black colorMDLMenu">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a class="mdl-layout-title text-deco__none" href="/">{{imp[1][4]|safe}}</a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <!-- Navigation Link Start -->
                    <span class="mdl-navigation__link colorMDLMenuColor" id="menu-lower__recent"><i class="material-icons material-icons-align">update</i>{{'recent'|load_lang}}</span>
                    <span class="mdl-navigation__link colorMDLMenuColor" id="menu-lower__apps"><i class="material-icons material-icons-align">apps</i>{{'other'|load_lang}}</span>
                    <span class="mdl-navigation__link colorMDLMenuColor" id="menu-lower__user"><i class="material-icons material-icons-align">person</i>{{imp[2][5]}}</span>
                    <!-- ::todo:: 뭐 알림기능 있나봄 나중에 만들어보자 -->
                    <!-- Navigation Link End -->
                    <!-- Elements Start -->
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower__recent">
                        <li class="mdl-menu__item"><a class="text-deco__none" href="/recent_changes"><i class="material-icons material-icons-align">edit</i>{{'edit'|load_lang}}</a></li>
                        <li class="mdl-menu__item"><a class="text-deco__none" href="/recent_discuss"><i class="material-icons material-icons-align">chat</i>{{'discussion'|load_lang}}</a></li>
                    </ul>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower__apps">
                        <li class="mdl-menu__item"><a class="text-deco__none" href="/random"><i class="material-icons material-icons-align">shuffle</i>{{'random'|load_lang}}</a></li>
                        <li class="mdl-menu__item"><a class="text-deco__none" href="/other"><i class="material-icons material-icons-align">build</i>{{'tool'|load_lang}}</a></li>
                        {% if imp[2][9] != '0' %}<li class="mdl-menu__item"><a class="text-deco__none" href="/manager"><i class="material-icons material-icons-align">how_to_reg</i>{{'admin'|load_lang}}</a></li>{% endif %}
                        <li class="mdl-menu__item"><a class="text-deco__none" href="/skin_set"><i class="material-icons material-icons-align">brush</i>{{'skin_setting'|load_lang}}</a></li>
                    </ul>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower__user">
                        {% if imp[2][2] == 0 %}<li class="mdl-menu__item"><a class="text-deco__none" href="/login">{{'login'|load_lang}}</a></li>{% endif %}
                        {% if imp[2][2] == 1 %}<li class="mdl-menu__item"><a class="text-deco__none" href="/logout">{{'logout'|load_lang}}</a></li>{% endif %}
                        <li class="mdl-menu__item"><a class="text-deco__none" href="/user"><i class="material-icons material-icons-align">people_alt</i>{{'user_tool'|load_lang}}</a></li>
                    </ul>
                    <!-- Elements End -->
                </nav>
                <!-- Search Start -->
                <form action="/search" method="post" id="search" role="search" class="padding-0-24-px">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                                mdl-textfield--floating-label mdl-textfield--align-right">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                        <i class="material-icons material-icons-align">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="search" name="search" id="fixed-header-drawer-exp" placeholder="{{'search'|load_lang}}" autocomplete="off">
                        </div>
                    </div>
                </form>
                <!-- Search End -->
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">{{imp[1][4]|safe}}</span>
            <nav class="mdl-navigation">
                <span class="mdl-navigation__link" id="menu-lower__recent-drawer"><i class="material-icons material-icons-align">update</i>{{'recent'|load_lang}}</span>
                <span class="mdl-navigation__link" id="menu-lower__apps-drawer"><i class="material-icons material-icons-align">apps</i>{{'other'|load_lang}}</span>
                <span class="mdl-navigation__link" id="menu-lower__user-drawer"><i class="material-icons material-icons-align">person</i>{{imp[2][5]}}</span>
                <!-- Elements Start -->
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower__recent-drawer">
                    <li class="mdl-menu__item"><a class="text-deco__none" href="/recent_changes"><i class="material-icons material-icons-align">edit</i>{{'edit'|load_lang}}</a></li>
                    <li class="mdl-menu__item"><a class="text-deco__none" href="/recent_discuss"><i class="material-icons material-icons-align">chat</i>{{'discussion'|load_lang}}</a></li>
                </ul>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower__apps-drawer">
                    <li class="mdl-menu__item"><a class="text-deco__none" href="/random"><i class="material-icons material-icons-align">shuffle</i>{{'random'|load_lang}}</a></li>
                    <li class="mdl-menu__item"><a class="text-deco__none" href="/other"><i class="material-icons material-icons-align">build</i>{{'tool'|load_lang}}</a></li>
                    {% if imp[2][9] != '0' %}<li class="mdl-menu__item"><a class="text-deco__none" href="/manager"><i class="material-icons material-icons-align">how_to_reg</i>{{'admin'|load_lang}}</a></li>{% endif %}
                    <li class="mdl-menu__item"><a class="text-deco__none" href="/skin_set"><i class="material-icons material-icons-align">brush</i>{{'skin_setting'|load_lang}}</a></li>
                </ul>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower__user-drawer">
                    {% if imp[2][2] == 0 %}<li class="mdl-menu__item"><a class="text-deco__none" href="/login">{{'login'|load_lang}}</a></li>{% endif %}
                    {% if imp[2][2] == 1 %}<li class="mdl-menu__item"><a class="text-deco__none" href="/logout">{{'logout'|load_lang}}</a></li>{% endif %}
                    <li class="mdl-menu__item"><a class="text-deco__none" href="/user"><i class="material-icons material-icons-align">people_alt</i>{{'user_tool'|load_lang}}</a></li>
                </ul>
                <!-- Elements End -->
                
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="page-container">
                    <!-- Body Start -->
                    <div id="body-start"></div>

                    <!-- Page Hero Start -->
                    <h2 class="hero-text">{{imp[0]}}</h2>
                    <!-- ::todo:: <sub>{{imp[3][0]}}</sub> 뭘까 -->
                    <!-- Page Hero End -->

                    <!-- Page Submenu Start -->
                    <div class="post-submenu">
                        <span class="latest-edited">
                            <!--<i class="material-icons">spellcheck</i>-->
                            {% if imp[3][1] != 0 %}
                                {{'last_edit_time'|load_lang}} : {{imp[3][1]}}
                            {% endif %}
                        </span>
                    </div>
                    <!-- Page Submenu End -->

                    <!-- Tools Start -->
                    {% if menu != 0 %}
                        <div class="tool">
                            {% for sub_d in menu %}
                                <div class="tool_cel">
                                    {% if sub_d|length > 2 and sub_d[2] == 1 %}
                                        <a class="menu-item" href="/{{sub_d[0]}}" id="topic_color">{{sub_d[1]}}</a>
                                    {% else %}
                                        <a class="menu-item" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                    {% endif %}
                                </div>
                                {% if menu[loop.index] %}
                                    |
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- Tools End -->

                    <!-- Body Content Start -->
                    <div class="content-main">{{data|safe}}</div>
                    <!-- Body Content End -->

                    <!-- File Uploader Form Start -->
                    <form method="post" enctype="multipart/form-data" accept-charset="utf8" id="file-uploader-form" style="display: none;">
                        <input name="f_data[]" type="file" id="file-uploader-form__file" multiple="multiple" style="display: none;" materialize="false">
                        <input name="f_name" type="text" id="file-uploader-form__name" style="display: none;" materialize="false">
                    </form>
                    <!-- File Uploader Form End -->

                    <!-- Snackbar Start -->
                    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button type="button" class="mdl-snackbar__action"></button>
                    </div>
                    <!-- Snackbar End -->

                    <div id="body-end"></div>
                </div><!-- Body End -->
                <!-- Footer Start -->
                <footer class="mdl-mini-footer colorMDLFooter">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo logo-style colorMDLFooterLogo">{{imp[1][4]|safe}}</div>
                        <ul class="mdl-mini-footer__link-list colorMDLFooterColor">
                            <li><span>{{imp[1][1]|safe}}</span></li>
                            <li><a href="https://github.com/2du/openNAMU"><img id="b_logo" src="/views/simpledirty/img/s_logo_white.png"></a></li>
                        </ul>
                    </div>
                </footer>
                <!-- Footer End -->
                <!-- Navigation Bar Start-->
                <div class="sd-nav__scroll">
                    <a href="#body-start" class="button-deco__none button-deco__none-dark">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored colorMDLNav">
                            <i class="material-icons colorMDLNavColor">keyboard_arrow_up</i>
                        </button>
                    </a>
                    <a href="#body-end" class="button-deco__none button-deco__none-dark">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored colorMDLNav">
                        <i class="material-icons colorMDLNavColor">keyboard_arrow_down</i>
                    </button>
                    </a>
                </div>
                <!-- Navigation Bar End -->
            </div>
        </main>
    </div>
    <script src="/views/simpledirty/js/snackBar.js"></script>
    <script src="/views/simpledirty/js/fileUploader.js"></script>
    <script src="/views/simpledirty/js/materialize.js"></script>
    <script src="/views/simpledirty/js/skinSettings.js"></script>
    <script src="/views/simpledirty/js/index.js"></script>
</body>
</html>